
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons ion-button {
  fill: transparent;
  background-color: transparent;
}

ion-card {
  margin: 16px;
  background-color: transparent;
}

.buttonlimpar {
  width: 100%;
}

.container-filtro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: flex;
  gap: 5px;
}

.ibagem {
  display: flex;
  justify-content: center ;
}